<div class="container-fluid cvs-header-container">
	<div class="row p-4 pb-0 align-items-center">
		<div class="col-6 offset-3 mt-4 mb-44">
			<div class="row text-center">
				<div class="col-10 offset-1 fs-2 fw-bolder text-border-light m-0">
					{{name}}
				</div>
				<div class="col-10 text-light">
					<small>{{description}}</small>
				</div>
			</div>
			<div class="row mb-1 border-2 border-start" *ngFor="let dato of personal_data; let i=index">
				<div class="col-12">
					<div class="fw-bolder text-border m-0">{{dato.personal.key}}</div>
				</div>
				<div class="col-10 offset-2 mb-2">
					<div class="fw-bolder text-border-light m-0">{{dato.personal.value}}</div>
				</div>
			</div>
		</div>
		<div class="col-2 offset-1 p-1">
			<img src="assets/propic" class="img-fluid float-end" alt="foto curriculum">
		</div>
	</div>
	<div class="row p-2">
		<div class="col-4">
			<small class="text-start text-border-light m-0 p-0 text-muted">updated: {{updated}}</small>
		</div>
	</div>
</div>
