<div class="container-fluid cvs-header-container">
	<div class="row p-4 pb-0 align-items-center">
		<div class="col-6 offset-3 mt-4 mb-44">
			<div class="row mb-1 border-2" *ngFor="let dato of personal_data; let i=index" [ngClass]="{'border-start':i!=0}">
				<div class="col-12">
					<div class="fw-bolder small text-muted text-border m-0">{{dato.personal.key}}</div>
				</div>
				<div class="col-10 offset-2 mb-2" [ngClass]="{'fs-2':i==0}">
					<div class="fw-bolder text-border-light m-0">{{dato.personal.value}}</div>
				</div>
			</div>
		</div>
		<div class="col-2 offset-1 p-1">
			<img src="assets/barba.jpg" class="img-fluid rounded float-end" alt="foto curriculum">
		</div>
	</div>
	<div class="row p-2">
		<div class="col-4">
			<small class="text-start text-border m-0 p-0 text-muted">updated: 14/09/2022</small>
		</div>
	</div>
</div>
