
.rangebox{
	background: linear-gradient(45deg, var(--secondary-dark-color), var(--secondary-light-color),var(--secondary-dark-color) );
	border-radius: 5px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hobbyvalue:before {
	content: "\2713\0020";
	font-weight: bolder;
	color: #198754;
}

.tolist:before {
	content: "\00BB";
	font-weight: bolder;
	color: var(--secondary-color);
}

ul >li:before {
	content: "\00BB";
	font-weight: bolder;
	color: var(--secondary-color);
}
