<nav class="navbar navbar-expand sticky-top m-2 rounded text-border">
	<div class="container-fluid">
		<a href="" class="navbar-brand text-blur">CV</a>

		<ul class="navbar-nav me-auto">
			<li class="nav-item small mtooltip" *ngFor="let card of cardsService.cards; let indice=index"
				(click)="scrollToCard(card)"
			>
				<span *ngIf="indice>1">
					<span class="d-none d-xl-inline really-small">
						{{card.title}}
					</span>
					<span class="d-xl-none">
						<span class="{{card.icon}} text-border-light">
	
						</span> 
					</span>
					<span class="me-1" *ngIf="indice<cardsService.cards.length-1">
						|
					</span>
					<span class="mtooltiptext">
						{{card.title}}
					</span>
				</span>
			</li>
		</ul>
		<div class="d-flex float-end fa fa-search small">
		</div>
	</div>
</nav>