/* You can add global styles to this file, and also import other style files */

.text-blur{
	text-shadow: 0px 0px 0.5vw var(--secondary-light-color);
}

.text-blur-more{
	text-shadow: 0px 0px 0.8vw var(--secondary-color);
	color: var(--secondary-dark-color);
}

.text-border{
	text-shadow: 0px 0px 0.5vw var(--bg-color);
	color: var(--fg-color);
}

.text-border-light{
	text-shadow: 0px 0px 0.5vw var(--fg-color);
	color: var(--bg-color);
}

